.env.local
/.github/skills/openspec-apply-change/SKILL.md
/.github/skills/openspec-archive-change/SKILL.md
/.github/skills/openspec-bulk-archive-change/SKILL.md
/.github/skills/openspec-continue-change/SKILL.md
/.github/skills/openspec-explore/SKILL.md
/.github/skills/openspec-ff-change/SKILL.md
/.github/skills/openspec-new-change/SKILL.md
/.github/skills/openspec-onboard/SKILL.md
/.github/skills/openspec-sync-specs/SKILL.md
/.github/skills/openspec-verify-change/SKILL.md
/openspec/changes/archive/2026-02-19-add-user-page/.openspec.yaml
/.claude/commands/opsx/apply.md
/.claude/commands/opsx/archive.md
/.claude/commands/opsx/bulk-archive.md
/.claude/commands/opsx/continue.md
/openspec/changes/archive/2026-02-19-add-user-page/design.md
/.claude/commands/opsx/explore.md
/.claude/commands/opsx/ff.md
/.claude/commands/opsx/new.md
/.claude/commands/opsx/onboard.md
/openspec/changes/archive/2026-02-19-add-user-page/proposal.md
/.claude/skills/openspec-apply-change/SKILL.md
/.claude/skills/openspec-archive-change/SKILL.md
/.claude/skills/openspec-bulk-archive-change/SKILL.md
/.claude/skills/openspec-continue-change/SKILL.md
/.claude/skills/openspec-explore/SKILL.md
/.claude/skills/openspec-ff-change/SKILL.md
/.claude/skills/openspec-new-change/SKILL.md
/.claude/skills/openspec-onboard/SKILL.md
/.claude/skills/openspec-sync-specs/SKILL.md
/.claude/skills/openspec-verify-change/SKILL.md
/openspec/changes/archive/2026-02-19-add-user-page/specs/homepage-profile-widget/spec.md
/openspec/changes/archive/2026-02-19-add-user-page/specs/user-profile-page/spec.md
/openspec/specs/homepage-profile-widget/spec.md
/openspec/specs/user-profile-page/spec.md
/.claude/commands/opsx/sync.md
/openspec/changes/archive/2026-02-19-add-user-page/tasks.md
/.claude/commands/opsx/verify.md
